.auth {
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 24px;
    background: radial-gradient(1100px circle at 50% 50%, var(--blue-app), transparent 70%), var(--bg);
}

.auth-card {
    width:  80vw;
    height: 60vh;
    text-align: center;
    padding: 2.5rem;
    background: var(--card-bg);
    border: 1px solid var(--border);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.auth-title {
    font-size: 3rem;
    color: var(--primary);
    margin-bottom: 24px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.auth-form label {
    text-align: left;
    color: var(--muted);
    font-size: 1.5rem;
}

.auth-form input {
    width: 100%;
    padding: 10px 14px;
    background-color: var(--blue-app);
    border: 1px solid var(--border);
    border-radius: var(--radius);
    color: var(--text);
}

.auth-form select {
    width: 100%;
    padding: 10px 14px;
    background-color: var(--blue-app);
    border: 1px solid var(--border);
    border-radius: var(--radius);
    color: var(--text);
}

.auth-form input:focus {
    outline: none;
    border-color: var(--primary);
}

.auth-form button {
    align-self: center;
    width: 50%;
    font-size: 2rem;
    font: bold;
    background-color: var(--blue-app);
    border: 2px solid var(--accent);
    color: var(--text);
    padding: 10px 18px;
    border-radius: var(--radius);
    bottom: 1rem;
}

.auth-form button:hover {
    box-shadow: 0 0 0 3px var(--hover);
}

.auth-form button:active {
    transform: scale(.98);
}